@import "../_variables.scss";

.results {
  max-width: 40rem;
  margin-top: 5rem;
  padding: 0.5rem;
  z-index: 0;

  mat-card {
    margin-bottom: 10px;
    background-color: $accent;
  }

  .selected-result {
    background-color: $warn;
  }
}

.no-results {
  margin-top: 5rem;
}
