@import "../_variables.scss";

.results {
  max-width: 40rem;
  min-height: 5rem;
  margin-top: 4.2rem;
  padding: 0.5rem;
  z-index: 0;

  mat-list mat-list-item {
    color: rgba(0, 0, 0, 0.64);
  }

  .selected-result h4 {
    color: black;
    font-weight: bold;
  }
}

.no-results {
  margin-top: 5rem;
  padding: 0.5rem;
}

.spinner {
  max-width: 40rem;
  margin-top: 7rem;
  padding: 5rem;
  z-index: 0;
}
