mat-list {
  margin-top: 4rem;
}

mat-list, mat-list mat-list-item, .subheader, .need-color {
  color: rgba(0, 0, 0, 0.64);
}

.subheader {
  font-size: 1.5rem;
}

mat-progress-bar {
  max-width: 20rem;
}
